body{
	background: #7A9E9F;
	padding: 5px 0px 5px 0px;
}
.panel{
	background: white;
	opacity: .95;
	height: 88%;
	overflow-x: hidden;
	overflow-y: auto;
}
.title{
	text-align: center;
	vertical-align: middle;
	padding: 5px;
}
.page-title{
	text-align: center;
	vertical-align: middle;
	color: whitesmoke;
	font-weight: bold;
	margin: 10;
	font-size: x-large;
}
.panel-title{
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
}
.option .header, .resultString{
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	background: aliceblue;
	opacity: .8;
}
.option .header:hover{
	opacity: 1;
	cursor: pointer;
}
.option input, .option textarea{
	width: 70%;
	resize: none;
}
.option .body{
	padding: 10px;
	margin-bottom: 35px;
}